[submodule "jclasslib"]
	path = jclasslib
	url = https://github.com/ingokegel/jclasslib
[submodule "hamkrest"]
	path = hamkrest
	url = https://github.com/npryce/hamkrest
[submodule "klaxon"]
	path = klaxon
	url = https://github.com/cbeust/klaxon
[submodule "kotlinx.reflect.lite"]
	path = kotlinx.reflect.lite
	url = https://github.com/Kotlin/kotlinx.reflect.lite
